<mat-toolbar color="primary">
  <span>
    <a mat-button
       matTooltip="Home"
       routerLink="/">
        <mat-icon aria-hidden="false" aria-label="Home">home</mat-icon>
    </a>
  </span>
    <span class="spacer"></span>
    <ul>
        <li>
            <a mat-button
               matTooltip="Articles"
               matTooltipPosition="before"
               routerLink="/articles">
                <mat-icon aria-hidden="false" aria-label="Articles">loyalty</mat-icon>
            </a>
        </li>
        <li>
            <a mat-button
               *ngIf="(items$ | async) as items"
               matTooltip="Shopping Cart"
               [ngClass]="{'item-disabled':items.length < 1 }"
               routerLink="/cart">
                <mat-icon aria-hidden="false" aria-label="Shopping Cart"
                          [matBadge]="items.length.toString()"
                          matBadgeOverlap="false"
                          matBadgeColor="warn">
                    shopping_cart
                </mat-icon>
            </a>
        </li>
    </ul>
</mat-toolbar>
