<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{item?.name}}</mat-card-title>
        <mat-card-subtitle>{{item?.category}}</mat-card-subtitle>
    </mat-card-header>
    <!--    src="https://material.angular.io/assets/img/examples/shiba2.jpg"-->
    <img mat-card-image
         class="img-tag"
         src="{{item?.photoURI}}"
         alt="Photo of hiking item">
    <mat-card-content>
        <p>{{item?.description}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>SAVE FOR LATER</button>
        <button mat-button (click)="addItemToShoppingList()">ADD TO CART</button>
    </mat-card-actions>
</mat-card>
