<mat-card class="example-card"
          [ngClass]="{'item-disabled': item?.isAddedToTheCart}">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{item?.name}}</mat-card-title>
        <mat-card-subtitle>{{item?.category}}</mat-card-subtitle>
    </mat-card-header>
    <!--    src="https://material.angular.io/assets/img/examples/shiba2.jpg"-->
    <img mat-card-image
         class="img-tag"
         src="{{item?.photoURI}}"
         alt="Photo of hiking item">
    <mat-card-content>
        <p>{{item?.description}}</p>
    </mat-card-content>
    <mat-card-actions *ngIf="!isInCart; else cartOptions">
        <button mat-button (click)="addItemToShoppingList()">ADD TO CART</button>
    </mat-card-actions>
    <ng-template #cartOptions>
        <mat-card-actions>
            <button mat-button (click)="removeItemFromShoppingList()">REMOVE FROM CART</button>
        </mat-card-actions>
    </ng-template>
</mat-card>
