<mat-toolbar>
    <mat-toolbar-row>
        <span class="example-spacer"></span>
        <button class="example-icon"
                mat-button
                matTooltipPosition="right"
                matTooltip="Empty cart"
                (click)="emptyCart()">
            <mat-icon aria-hidden="false" aria-label="Articles">
                delete_sweep
            </mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-grid-list *ngIf="items.length>0; else noItems"
               cols="3">
    <ng-container *ngFor="let item of items">
        <mat-grid-tile>
            <app-article [item]="item"
                         isInCart="true"></app-article>
        </mat-grid-tile>
    </ng-container>
</mat-grid-list>

<ng-template #noItems>
    <mat-toolbar>
        <span class="help-info">NO ITEMS IN THE SHOPPING CART</span>
    </mat-toolbar>
</ng-template>
